@tailwind base;
@tailwind components;
@tailwind utilities;

/* Ensure body is full height */
html, body {
    min-height: 100vh;
    margin: 0;
    padding: 0;
    background-color: #111827; /* Dark background */
    color: white;
}
